html {
    background: #444;
}

body {
    background: #444;
}

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

.header a:hover {
    color: #FFF !important;
}

.col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.search-control-0 .rbt-input-main {
    border-radius: 0;
}

.search-control .rbt-input-main::placeholder {
    color: #AAA;
}

.station-parameters input::placeholder {
    color: #AAA;
}


.station-descriptor:hover {
    background-color: #000000CC !important;
}

.secondary-artwork {
    display: none;
}

.small-screen-label {
    display: none;
}

@media (max-width: 410px) {
    .album-art {
        height: auto !important;
        padding-top: 100%;
    }
    .lastfm-connect-link {
        padding: 10px 5px !important;
    }
    .small-screen-label {
        display: inline;
    }
    .large-screen-label {
        display: none;
    }
}

.playlist .album-header svg,
.playlist .playlist-item svg {
    opacity: 0.1;
    transition: opacity 0.3s;
}

.playlist .album-header:hover svg,
.playlist .playlist-item:hover svg {
    opacity: 0.8;
}

.playlist .playlist-item {
    transition: background-color 0.3s;
}

.playlist .playlist-item.current {
    background: #E0E0E0;
    color: #000;
}

.playlist .playlist-item:not(.current):hover {
    background: #2A2A2A;
}
}