html {
    background: #444;
}

body {
    background: #444;
}

a {
    cursor: pointer;
}

.col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.secondary-artwork {
    display: none;
}

.album-art {
    width: 400px;
}

@media (max-width: 400px) {
    .album-art {
        width: auto;
    }
}