.idea/
**/bin/**
**/node_modules/**
**/obj/**
**/ClientApp/build/**
**/ClientApp/www/**
**/ClientApp/platforms/**
**/ClientApp/plugins/**
**/ClientApp/coverage/**
**/ClientApp/.svelte-kit/**
**/ClientApp/.react-backup/**
**/appsettings.Development.json
*.user
*.DS_Store
