name: ASP.NET Core CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      run: dotnet build --configuration Release
      
    - name: Install npm packages
      run: cd LastApple.Web/ClientApp && npm install
      
    - name: Webpack build
      run: cd LastApple.Web/ClientApp && npm run build
      
    - name: Deploy to Azure
      run: dotnet publish LastApple.Web/LastApple.Web.csproj /p:PublishProfile=LastApple.Web/Properties/last-apple.PublishSettings /p:Password=${{ secrets.LAST_APPLE_AZURE_PASSWORD }}
