name: PR build

on:
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.x
    - uses: actions/setup-node@v3
      with:
        node-version: '18.x'

    - name: Add GH packages
      run: |
        dotnet nuget remove source github
        dotnet nuget add source --username kapral --password ${{ secrets.GH_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/kapral/index.json"

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Run .NET tests
      run: dotnet test

    - name: Install npm packages
      run: cd LastApple.Web/ClientApp && npm ci

    - name: Run React tests
      run: cd LastApple.Web/ClientApp && npm run test -- --coverage --watchAll=false

    - name: Webpack build
      run: cd LastApple.Web/ClientApp && npm run build
